!!!5
%head
  %title!= "מפגש הקוד ריטריט העברי השני - חיפה"
  %link{:rel => "stylesheet", :href => "font/stylesheet.css", :type => "text/css", :media => "screen", :charset => "utf-8"}
  %link{:rel => "stylesheet", :href => "/style", :type => "text/css", :media => "screen", :charset => "utf-8"}
  %link{:rel => "shortcut icon", :href => "/favicon.ico"}
%body
  .container
    %header
      .text
        %h1!= "מפגש הקוד ריטריט"
        %h2
          != "העברי השני"
          %span="-"
          %strong= "בחיפה!"
        %h3!= "יום שבת ה-8 בדצמבר"
      .ribbon.new
        %a{:href => "http://globalday.coderetreat.org/"}
          != "חלק מהיום"
          %br
          != "הבינלאומי"
          %br
          != "לקוד ריטריט 2012"
    .main
      %nav
        %a{:href => "#details"}!= "פרטים"
        %a{:href => "#location"}!= "מקום"
        %a{:href => "#doing"}!= "מה עושים"
        %a{:href => "http://goo.gl/ux15y"}!= "הרשמה"
        %a{:href => "#sponser"}!= "ספונסר"
        %a{:href => "#hosts"}!= "מנחים"
        %a{:href => "#contact"}!= "שאלות"

      %a{:name => :beginning}
      %h4 מפגש קוד ריטריט
      %p
        ביום שבת ה-8 לדצמבר מתרחש ברחביי העולם יום הקוד ריטריט הבינלאומי, זוהי הפעם השניה שיום כזה מתרחש.
        %br
        קוד ריטריט הוא יום שלם שמוגדש ללמידה ואימון של יכולות פיתוח התוכנה שלכם. מטרת היום היא לתת סביבה נקייה מרעש של 'דדליינים' ומשימות כדי לאפשר לכם להתאמן על עקרונות פיתוח התוכנה החשובים לכם.
        %br
        במהלך היום יצא לכם לעבוד בזוגות עם עם מספר אנשים ולהתאמן על TDD, Clean Code, SOLID ועוד עקרונות פיתוח תוכנה שלא בהכרח מוצאים להם זמן ביום-יום.
        %br
        %br
        %strong השנה נארח מוקד נוסף למפגש - בחיפה!

      %a{:name => :details}
      %h4 פרטים
      %ul
        %li ההרשמה חובה ומחייבת, האירוע עצמו חינם אבל אנחנו מבקשים שתשארו כל היום
        %li במידה ואתם חושבים שלא תוכלו להשאר עד סופו תודיעו מראש
        %li היום יתחיל ב-9:00, בבקשה תגיעו בזמן
        %li סוף היום יהיה בסביבות 17:00 - 17:30
        %li תביאו לפטופ לפיתוח (בבקשה תדאגו שיש בו סביבה לכל שפה בה תרצו לעבוד)
        %li ארוחת בוקר וצהריים עלינו
        %li אפטר-פרטי בירה באחד הברים באזור

      .map
        <iframe width="300" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=google+haifa&amp;hl=en&amp;sll=32.78942,34.9587&amp;sspn=0.006287,0.011689&amp;hq=google+haifa&amp;t=m&amp;ie=UTF8&amp;hnear=&amp;cid=13534243781172954506&amp;ll=32.788862,34.960041&amp;spn=0.021647,0.025749&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
      %a{:name => :location}
      %h4 מקום
      %p
        המפגש יערך במשרדי גוגל חיפה.
        %br
        בניין 30 מת"מ, מרכז תעשיות מדע
        %br
        קומה 5.
      %p
        -#%strong חניה
        -#%br
        פרטי חניה בקרוב

      %a{:name => :doing}
      %h4 אז מה עושים
      %p
        != "במהלך היום אנחנו נעשה כ-6 סשנים, בכל סשן אתם תצתוותו לאדם אחר ובמהלך 45 הדקות של הסשן תעבדו על בעיית"
        %a{:href=>"http://he.wikipedia.org/wiki/%D7%9E%D7%A9%D7%97%D7%A7_%D7%94%D7%97%D7%99%D7%99%D7%9D_%28%D7%90%D7%95%D7%98%D7%95%D7%9E%D7%98_%D7%AA%D7%90%D7%99%29"}!= "משחק החיים"
        != ". המטרה היא לא בהכרח למצוא פתרון שלם לבעיה אלא להתאמן על עקרונות שונים של פיתוח תוכנה"

      %p
        פירוט יותר מלא על מה עושים בדרך כלל ביום כזה ניתן למצוא באתר הרישמי של 
        %a{:href => "http://coderetreat.com"} coderetreat.com
      %p
        %strong שפות תכנות
        %br
        בעקרון אנחנו לא רוצים להגביל את שפות התכנות שאיתן תוכלו לעבוד ככה שמי שממש רוצה לתכנת ב- Brainfuck ומוצא בן זוג שגם רוצה מוזמן לחלוטין לעשות את זה.

      .reg.one
        %a{:name => :registration}
        %a.button{:href => "http://goo.gl/ux15y"}!= "להרשמה"



      %a{:name => :sponser}
      %h4 ספונסר
      %p היום מאורגן בחסות גוגל ישראל
      %a{:href => "http://google.co.il/"}
        %img{:src => "http://www.google.com/images/logos/google_logo_41.png"}
      
      %a{:name => :hosts}
      %h4 מנחים
      .columns.new
        .col
          %img{:src=> "https://twimg0-a.akamaihd.net/profile_images/1551756519/IMG_5310_reasonably_small.jpg", :width=> 100}
          %aside
            .name ישראל שלום
            .twitter
              %a{:href=> "https://twitter.com/srulix"}
                :plain
                  @srulix
            -#.blog
            -#  %a{:href=>"http://www.codelord.net/"}!= "בלוג"


        .col
          %img{:src=> "https://twimg0-a.akamaihd.net/profile_images/1142884802/DSCN1770__1__reasonably_small.JPG", :width=> 100}
          %aside
            .name איתי ממן
            .twitter
              %a{:href=> "https://twitter.com/pembleton"}
                :plain
                  @pembleton
            -#.blog
            -#  %a{:href=>"http://yonbergman.com/"}!= "בלוג"



      %a{:name => :contact}
      %h4 לשאלות
      %p
        != "שאלות בקשות ועוד שאלות אפשר לפנות ל"
        %a{:href=>"http://twitter.com/#!/srulix",:dir=>"ltr", :style=>"direction:ltr;"}!= "@srulix"
        != "או לשלוח מייל לכתובת"
        %span yon
        %span כרוכית
        %span coderetreat.co.il

    %footer
      .r1
      .r2
      .r3
      %a.page_designed{:href=>"http://yon-line.info"}
        Page designed by
        %em Yon